.TabelaProdutos table {
    width: 100%;
}
.TabelaProdutos th {
    background-color: #094e4e;
    color: #ffff;
}

.TabelaProdutos .Par {
    background-color: #ddd;
}

.TabelaProdutos .Impar {
    background-color: #ccc;
}